@layer light-diamond {
    :root {
        --primary-bg-color: #005565;
        --secondary-bg-color: #eaeaea;
        --primary-text-color: #eaeaea;
        --secondary-text-color: #005565;
        --hover-text-color: #00ffff;
        --surface-border: #4d848f;
        --primary-color: #5aedda;
        --border-color: #dadada;
        --autofill-color: rgba(0, 125, 125, .5);
        --global-scrollbar-width: 12px;
        --bar-scrollbar-width: 8px;

        font-family: "Monocraft", sans-serif;
        color: var(--primary-text-color);
    }

    /* Шрифт Minecraft Ten */
    @font-face {
        src: url('/fonts/minecraft-ten.ttf');
        font-family: "Minecraft Ten";
        font-weight: normal;
        font-style: normal;
    }
    /* Шрифт Monocraft */
    @font-face {
        src: url('/fonts/monocraft.otf');
        font-family: "Monocraft";
        font-weight: normal;
        font-style: normal;
    }
    /* Шрифт Pixel Code Pro */
    @font-face {
        src: url('/fonts/pixel-code-pro.ttf');
        font-family: "Pixel Code Pro";
        font-weight: normal;
        font-style: normal;
    }

    * {
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
    }

    body,
    header,
    .dialog-form-container .interface,
    .global-error-container,
    .header-blur aside,
    .header-dropdown-content,
    .menu,
    .search-form-background form,
    .settings aside,
    .settings .container,
    .settings .title,
    .toaster .achievement,
    .toaster .toast,
    footer {
        background-image: url('/images/elements/base-background.png');
        background-color: var(--primary-bg-color);
    }

    header {
        border-bottom: 2px solid rgba(0, 255, 255, .2);
    }

    .header-dropdown-content {
        border-bottom: 2px solid rgba(0, 255, 255, .2);
        border-right: 2px solid rgba(0, 255, 255, .2);
        border-left: 2px solid rgba(0, 255, 255, .2);
        margin-top: -2px;
    }

    footer,
    footer .tinted-gradient {
        border-top: 2px solid rgba(0, 255, 255, .2);
    }

    .surface-ground {
        background-image: url('/images/elements/base-background.png');
        background-color: var(--secondary-bg-color);
    }

    .header-blur-on {
        background-color: rgba(0, 0, 0, .5);
    }

    .header-blur-off {
        pointer-events: none;
    }

    .left-header-sidebar .closing-header-sidebar-button.closing-button {
        animation: rotate-left-360-animation .5s ease
    }

    .left-header-sidebar .closing-header-sidebar-button.opening-button {
        animation: rotate-right-360-animation .5s ease
    }

    .item-button:hover,
    .left-header-sidebar a:hover,
    .left-header-sidebar .sign-in-button:hover {
        background-color: rgba(0, 255, 255, .1)
    }

    .settings .current-data-field,
    .user-menu .profile-link {
        background: linear-gradient(90deg, rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1));
        animation: transfusion-animation 10s linear infinite;
        border: 2px solid rgba(0, 255, 255, .3);
        background-size: 400% 100%;
    }

    .settings .current-data-field .edit-button {
        border-left: 2px solid rgba(0, 255, 255, .3);
    }
    .settings .current-data-field .edit-button:focus-visible {
        border-left: 2px solid var(--hover-text-color);
    }

    .left-header-sidebar .unit-title,
    .settings .container form .section-title,
    .settings .units .item-button.active {
        background: linear-gradient(90deg, rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1));
        animation: transfusion-animation 10s linear infinite;
        font-family: "Minecraft Ten", sans-serif;
    }

    .user-menu .ld-pay-link {
        background: linear-gradient(90deg, rgba(0, 200, 0, .1), rgba(0, 200, 0, .3), rgba(0, 200, 0, .1), rgba(0, 200, 0, .3), rgba(0, 200, 0, .1));
        animation: transfusion-animation 10s linear infinite;
        border: 2px solid rgba(0, 200, 0, .3);
    }

    .left-header-sidebar .logo-wrap:hover {
        background-color: rgba(0, 255, 255, 0);
    }

    .left-header-sidebar .profile-link:focus-visible,
    .user-menu .profile-link:focus-visible,
    .user-menu .ld-pay-link:focus-visible {
        border: 2px solid #00ffff;
    }

    .menu {
        border-bottom: 2px solid rgba(0, 255, 255, .2);
        border-right: 2px solid rgba(0, 255, 255, .2);
        border-left: 2px solid rgba(0, 255, 255, .2);
        box-shadow: 0 4px 8px rgba(0,0,0,.3);
        min-width: 200px;
    }

    .menu-separator {
        background-color: rgba(0, 255, 255, .2);
        min-height: 2px;
    }

    .user-menu {
        min-width: 250px;
    }

    .user-menu .menu-item,
    .user-menu .profile-link {
        padding: 0 .5rem;
        gap: 0.75rem;
    }

    .user-menu .menu-item-label {
        font-size: 1.1rem;
    }

    a:focus-visible, button:focus-visible {
        background-color: rgba(0, 255, 255, .1);
        border: 2px solid #00ffff;
        color: #00ffff;
    }

    ::selection {
        background-color: rgba(0, 255, 255, .3);
    }

    ::-moz-selection {
        background-color: rgba(0, 255, 255, .3);
    }

    input::placeholder {
        color: var(--primary-text-color);
        opacity: .7;
    }

    input::-ms-reveal {
        filter: invert(100%);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: inset 0 0 20px 20px var(--autofill-color);
        -webkit-text-fill-color: var(--primary-text-color);
        transition: background-color 5000s ease-in-out 0s;
        font-family: "Monocraft", sans-serif;
        -webkit-background-clip: text;
    }

    input:-webkit-autofill + button {
        background-color: var(--autofill-color);
    }

    .left-header-sidebar::-webkit-scrollbar {
        width: var(--bar-scrollbar-width);
    }

    ::-webkit-scrollbar {
        width: var(--global-scrollbar-width);
    }

    .left-header-sidebar::-webkit-scrollbar-thumb {
        background: rgba(0, 255, 255, .2);
    }

    .left-header-sidebar::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, .3);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 85, 100, 1);
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 55, 70, 1);
    }

    .action-button {
        background-color: var(--primary-bg-color);
        transition: .05s;
        height: 100%;
        width: 100%;
    }

    .button-container.cancel .action-button {
        background-color: rgba(180, 30, 50, .8);
    }

    .button-container.confirm .action-button {
        background-color: rgba(10, 120, 10, .8);
    }

    .action-button .base {
        border-bottom: 3px solid rgba(235, 235, 235, .2);
        border-right: 3px solid rgba(235, 235, 235, .2);
        border-left: 3px solid rgba(235, 235, 235, .2);
        background-color: rgba(0, 0, 0, .2);
        transition: .05s;
        height: 20%;
        width: 100%;
    }

    .design-settings-form div .settings-button {
        border: 2px solid rgba(255, 255, 255, .2);
        transition: .5s;
    }

    .design-settings-form div .settings-button:focus-visible,
    .design-settings-form div .settings-button:hover {
        background: linear-gradient(90deg, rgba(0, 255, 255, .05), rgba(0, 255, 255, .2), rgba(0, 255, 255, .05), rgba(0, 255, 255, .2), rgba(0, 255, 255, .05));
        animation: transfusion-animation 10s linear infinite;
        background-size: 400% 100%;
    }

    .design-settings-form div .settings-button:focus-visible {
        border: 2px solid #00ffff;
    }

    .design-settings-form div .settings-button:focus-visible span {
        color: var(--hover-text-color);
    }

    .design-settings-form div .settings-button:hover {
        border: 2px solid rgba(0, 255, 255, .3);
    }

    .action-button .press {
        border: 3px solid rgba(255, 255, 255, .3);
        transition: .05s;
        height: 80%;
        width: 100%;
    }

    .left-header-sidebar .button-link:hover {
        background-color: rgba(0, 255, 255, .1);
    }

    .design-settings-form div .settings-button span,
    .left-header-sidebar .button-link,
    .action-button .text {
        font-family: "Minecraft Ten", sans-serif;
        color: var(--primary-text-color);
    }

    .button-container, .button-container:focus-visible {
        background: none;
        border: none;
    }

    .button-container:focus-visible .action-button, .button-container:hover .action-button {
        justify-content: flex-end;
        margin-top: 5%;
        height: 80%;
    }

    .button-container:focus-visible .action-button .base, .button-container:hover .action-button .base {
        height: 0;
    }

    .button-container:focus-visible .action-button .press, .button-container:hover .action-button .press {
        height: 100%;
    }

    .button-container:focus-visible .action-button .press .text, .button-container:hover .action-button .press .text {
        color: var(--hover-text-color);
    }

    .button-container.cancel .action-button:hover .press .text,
    .button-container.confirm .action-button:hover .press .text {
        color: var(--primary-text-color);
    }

    .dialog-form-container .interface,
    .global-error-container,
    .settings aside,
    .settings form .description p,
    .settings form,
    .settings .title {
        border: 2px solid rgba(0, 255, 255, .3);
    }

    button .profile-border .notifications-counter,
    .user-menu .profile-link .notifications-counter,
    .toaster .achievement .indicator,
    .toaster .toast .indicator {
        border: 2px solid rgba(255, 255, 255, .3);
    }

    .settings .banner {
        border-right: 2px solid rgba(255, 255, 255, .5);
        border-left: 2px solid rgba(255, 255, 255, .5);
        border-top: 2px solid rgba(255, 255, 255, .5);
    }

    .toaster .achievement .content,
    .toaster .toast .content {
        border-bottom: 2px solid rgba(255, 255, 255, .3);
        border-right: 2px solid rgba(255, 255, 255, .3);
        border-top: 2px solid rgba(255, 255, 255, .3);
    }

    form fieldset label  {
        border: 2px solid var(--border-color);
    }

    .auth-dialog .illustration {
        border-bottom: 2px solid rgba(255, 255, 255, .6);
        border-left: 2px solid rgba(255, 255, 255, .6);
        border-top: 2px solid rgba(255, 255, 255, .6);
    }

    .search-form-background form {
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        border-right: 2px solid rgba(255, 255, 255, .5);
        border-left: 2px solid rgba(255, 255, 255, .5);
    }

    .search-form form label {
        border: 2px solid var(--border-color);
        opacity: .8;
    }

    .achievement .content h1,
    .auth-dialog form fieldset .subtitle,
    .auth-dialog form .help-button span,
    .auth-remember-line .auth-remember-me,
    .dialog-header h1,
    .global-error-container h1,
    .item-button,
    .list-label-text,
    .settings .title,
    .toast .content h1,
    footer nav a span {
        font-family: "Minecraft Ten", sans-serif;
    }

    .left-header-sidebar .item-button {
        font-family: Monocraft, sans-serif;
    }

    footer .tinted-gradient {
        background: linear-gradient(rgba(0, 15, 15, .8), transparent);
    }

    form fieldset label,
    .search-form form fieldset,
    .settings form .description p {
        background: linear-gradient(rgba(0, 15, 15, .5), transparent);
    }

    .icon {
        background-repeat: no-repeat;
    }

    .background-auth {
        background-image: url('/images/elements/auth-background.png');
    }

    .background-cherry-blossom-grove {
        background-image: url('/images/elements/cherry-blossom-grove-background.png');
    }

    .icon-achievement {
        background-image: url('/public/images/icons/diamond-achievement.png');
    }

    .icon-apple {
        background-image: url('/images/icons/diamond-apple.png');
    }

    .icon-axolotl-bucket {
        background-image: url('/images/icons/diamond-axolotl-bucket.png');
    }

    .icon-bedrock-dev-small {
        background-image: url('/images/icons/bedrock-dev-small.png');
    }

    .icon-bedrock-wiki {
        background-image: url('/images/icons/bedrock-wiki.png');
    }

    .icon-bestiary {
        background-image: url('/images/icons/bestiary.png');
    }

    .icon-book {
        background-image: url('/images/icons/diamond-book.png');
    }

    .icon-border-profile {
        background-image: url('/images/icons/diamond-border-profile.png');
    }

    .icon-border {
        background-image: url('/images/icons/diamond-border.png');
    }

    .icon-bottle {
        background-image: url('/images/icons/diamond-bottle.png');
    }

    .icon-cross {
        background-image: url('/images/icons/diamond-cross.png');
    }

    .icon-diamond-pickaxe {
        background-image: url('/images/icons/diamond-pickaxe-icon.png');
    }

    .icon-diamond-sword {
        background-image: url('/images/icons/diamond-sword-icon.png');
    }

    .icon-diamond {
        background-image: url('/images/icons/diamond.png');
    }

    .icon-documentary {
        background-image: url('/images/icons/documentary.png');
    }

    .icon-down-arrow {
        background-image: url('/images/icons/diamond-down-arrow.png');
    }

    .icon-download {
        background-image: url('/images/icons/diamond-download.png');
    }

    .icon-eye {
        background-image: url('/images/icons/diamond-eye.png');
    }

    .icon-eye-cross {
        background-image: url('/images/icons/diamond-eye-cross.png');
    }

    .icon-faq {
        background-image: url('/images/icons/diamond-faq.png');
    }

    .icon-fixed-header {
        background-image: url('/images/icons/diamond-fixed-header.png');
    }

    .icon-free-header {
        background-image: url('/images/icons/diamond-free-header.png');
    }

    .icon-gear {
        background-image: url('/images/icons/diamond-gear.png');
    }

    .icon-hand {
        background-image: url('/images/icons/diamond-hand.png');
    }

    .icon-left-arrow {
        background-image: url('/images/icons/diamond-left-arrow.png');
    }

    .icon-logo {
        background-image: url('/images/elements/light-diamond-logo.png');
    }

    .icon-long-left-arrow {
        background-image: url('/images/icons/diamond-long-left-arrow.png');
    }

    .icon-long-right-arrow {
        background-image: url('/images/icons/diamond-long-right-arrow.png');
    }

    .icon-magnifier {
        background-image: url('/images/icons/diamond-magnifier.png');
    }

    .icon-map {
        background-image: url('/images/icons/diamond-map.png');
    }

    .icon-moon {
        background-image: url('/images/icons/diamond-moon.png');
    }

    .icon-microsoft-small {
        background-image: url('/images/icons/microsoft-small.png');
    }

    .icon-minecraft-materials {
        background-image: url('/images/icons/minecraft-materials.png');
    }

    .icon-news {
        background-image: url('/images/icons/diamond-news.png');
    }

    .icon-right-arrow {
        background-image: url('/images/icons/diamond-right-arrow.png');
    }

    .icon-script {
        background-image: url('/images/icons/diamond-script.png');
    }

    .icon-skin {
        background-image: url('/images/icons/diamond-skin.png');
    }

    .icon-small-cross {
        background-image: url('/images/icons/diamond-small-cross.png');
    }

    .icon-spawn-egg {
        background-image: url('/images/icons/diamond-spawn-egg.png');
    }

    .icon-sun {
        background-image: url('/images/icons/diamond-sun.svg');
    }

    .icon-switcher-handle {
        background-image: url('/images/icons/diamond-switcher-handle.png');
    }

    .icon-switcher-way {
        background-image: url('/images/icons/diamond-switcher-way.png');
    }

    .icon-telegram {
        background-image: url('/images/icons/diamond-telegram.png');
    }

    .icon-tick {
        background-image: url('/images/icons/diamond-tick.png');
    }

    .icon-top-arrow {
        background-image: url('/images/icons/diamond-top-arrow.png');
    }

    .icon-units {
        background-image: url('/images/icons/diamond-units.png');
    }

    .icon-vk {
        background-image: url('/images/icons/diamond-vk.png');
    }

    .icon-white-pencil {
        background-image: url('/images/icons/white-pencil.png');
    }

    .icon-youtube {
        background-image: url('/images/icons/diamond-youtube.png');
    }

    .user-menu .profile-link {
        min-height: 72px;
    }

    /* =============== [ Медиа-Запрос { ?px < 1024px } ] =============== */

    @media screen and (max-width: 1023px) {
        .user-menu .profile-link {
            min-height: 64px;
        }
    }
}
