:root {
    --primary-bg-color: #005565;
    --primary-text-color: #eaeaea;
    --secondary-bg-color: #eaeaea;
    --secondary-text-color: #005565;
    --hover-text-color: #00ffff;
    --surface-border: #eaeaea;
    --primary-color: #5aedda;
    --global-scrollbar-width: 12px;
    --bar-scrollbar-width: 8px;
}
body,
header,
.header-blur aside,
.header-dropdown-content,
.profile-dropdown-content,
.search-dropdown-content,
footer {
    background-image: url('../../images/elements/base-background.png');
    background-color: var(--primary-bg-color);
}
.surface-ground {
    background-image: url('../../images/elements/base-background.png');
    background-color: var(--secondary-bg-color);
}
.header-blur-on { background-color: rgba(0, 0, 0, .5); }
.header-blur-off { pointer-events: none; }
.left-header-sidebar .closing-header-sidebar-button.closing-button { animation: rotate-left-360-animation .5s ease }
.left-header-sidebar .closing-header-sidebar-button.opening-button { animation: rotate-right-360-animation .5s ease }
.header-dropdown-content a:hover,
.left-header-sidebar a:hover,
.left-header-sidebar .sign-in-button:hover,
.right-header-sidebar a:hover,
.right-header-sidebar .sign-in-button:hover,
.profile-dropdown-content a:hover,
.profile-dropdown-content .button-link:hover { background-color: rgba(0, 255, 255, .1) }
.left-header-sidebar .profile-link,
.right-header-sidebar .profile-link,
.profile-dropdown-content .profile-link {
    background: linear-gradient(90deg, rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1));
    animation: transfusion-animation 10s linear infinite;
    border: 2px solid rgba(0, 255, 255, .3);
}
.left-header-sidebar .unit-title,
.right-header-sidebar .unit-title {
    background: linear-gradient(90deg, rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1));
    animation: transfusion-animation 10s linear infinite;
    font-family: "Minecraft Ten", sans-serif;
}
.profile-dropdown-content .ld-pay-link {
    background: linear-gradient(90deg, rgba(0, 200, 0, .1), rgba(0, 200, 0, .3), rgba(0, 200, 0, .1), rgba(0, 200, 0, .3), rgba(0, 200, 0, .1));
    animation: transfusion-animation 10s linear infinite;
    border: 2px solid rgba(0, 200, 0, .3);
}
.left-header-sidebar .logo-wrap:hover,
.right-header-sidebar .logo-wrap:hover { background-color: rgba(0, 255, 255, 0); }
.left-header-sidebar .profile-link:focus-visible,
.right-header-sidebar .profile-link:focus-visible,
.profile-dropdown-content .profile-link:focus-visible,
.profile-dropdown-content .ld-pay-link:focus-visible {
    border: 2px solid #00ffff;
}
.profile-dropdown-content .line { background-color: #ffffff; }
a:focus-visible, button:focus-visible {
    background-color: rgba(0, 255, 255, .1);
    border: 2px solid #00ffff;
    color: #00ffff;
}
input:focus-visible, input:active {
}
::selection { background-color: rgba(0, 255, 255, .3); }
::-moz-selection { background-color: rgba(0, 255, 255, .3); }
input::placeholder { color: #aaaaaa; }
input::-ms-reveal { filter: invert(100%); }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    font-family: "Monocraft", sans-serif;
    -webkit-text-fill-color: #ffffff;
}
.left-header-sidebar::-webkit-scrollbar,
.right-header-sidebar::-webkit-scrollbar {
    width: var(--bar-scrollbar-width);
}
::-webkit-scrollbar {
    width: var(--global-scrollbar-width);
}
.left-header-sidebar::-webkit-scrollbar-thumb,
.right-header-sidebar::-webkit-scrollbar-thumb { background: rgba(0, 255, 255, .2); }
.left-header-sidebar::-webkit-scrollbar-track,
.right-header-sidebar::-webkit-scrollbar-track { background: rgba(0, 0, 0, .3); }
::-webkit-scrollbar-thumb { background: rgba(0, 85, 100, 1); }
::-webkit-scrollbar-track { background: rgba(0, 55, 70, 1); }

.search-content-form label input { border: 2px solid #dadada; }
.search-content-form label input:focus-visible {
    background-color: rgba(0, 255, 255, .1);
    border: 2px solid #00ffff;
}
header .list-label-text,
.header-dropdown-content .list-label-text,
footer nav a span {
    font-family: "Minecraft Ten", sans-serif;
}
.search-content-form,
footer .tinted-gradient { background: linear-gradient(rgba(0, 15, 15, .8), transparent); }
.icon { background-repeat: no-repeat; }
.header-blur .sign-in-button .list-label-text,
.left-header-sidebar .naked-link .list-label-text,
.left-header-sidebar .profile-link .title,
.left-header-sidebar .profile-link .subtitle,
.right-header-sidebar .naked-link .list-label-text,
.right-header-sidebar .profile-link .title,
.right-header-sidebar .profile-link .subtitle,
.profile-dropdown-content .profile-link .title,
.profile-dropdown-content .profile-link .subtitle,
.profile-dropdown-content .ld-pay-link .title,
.profile-dropdown-content .ld-pay-link .subtitle,
footer .row {
    font-family: "Monocraft", sans-serif;
}

.icon-apple { background-image: url('../../images/items/diamond-apple.png'); }
.icon-axolotl-bucket { background-image: url('../../images/items/diamond-axolotl-bucket.png'); }
.icon-bedrock-dev-small { background-image: url('../../images/items/bedrock-dev-small.png'); }
.icon-bedrock-wiki { background-image: url('../../images/items/bedrock-wiki.png'); }
.icon-bestiary { background-image: url('../../images/items/bestiary.png'); }
.icon-book { background-image: url('../../images/items/diamond-book.png'); }
.icon-border-profile { background-image: url('../../images/items/diamond-border-profile.png'); }
.icon-border { background-image: url('../../images/items/diamond-border.png'); }
.icon-bottle { background-image: url('../../images/items/diamond-bottle.png'); }
.icon-cross { background-image: url('../../images/items/diamond-cross.png'); }
.icon-diamond-pickaxe { background-image: url('../../images/items/diamond-pickaxe-icon.png'); }
.icon-diamond-sword { background-image: url('../../images/items/diamond-sword-icon.png'); }
.icon-diamond { background-image: url('../../images/items/diamond.png'); }
.icon-documentary { background-image: url('../../images/items/documentary.png'); }
.icon-down-arrow { background-image: url('../../images/items/diamond-down-arrow.png'); }
.icon-download { background-image: url('../../images/items/diamond-download.png'); }
.icon-eye { background-image: url('../../images/items/diamond-eye.png'); }
.icon-faq { background-image: url('../../images/items/diamond-faq.png'); }
.icon-fixed-header { background-image: url('../../images/items/diamond-fixed-header.png'); }
.icon-free-header { background-image: url('../../images/items/diamond-free-header.png'); }
.icon-gear { background-image: url('../../images/items/diamond-gear.png'); }
.icon-hand { background-image: url('../../images/items/diamond-hand.png'); }
.icon-left-arrow { background-image: url('../../images/items/diamond-left-arrow.png'); }
.icon-magnifier { background-image: url('../../images/items/diamond-magnifier.png'); }
.icon-map { background-image: url('../../images/items/diamond-map.png'); }
.icon-moon { background-image: url('../../images/items/diamond-moon.png'); }
.icon-microsoft-small { background-image: url('../../images/items/microsoft-small.png'); }
.icon-minecraft-materials { background-image: url('../../images/items/minecraft-materials.png'); }
.icon-script { background-image: url('../../images/items/diamond-script.png'); }
.icon-skin { background-image: url('../../images/items/diamond-skin.png'); }
.icon-spawn-egg { background-image: url('../../images/items/diamond-spawn-egg.png'); }
.icon-sun { background-image: url('../../images/items/diamond-sun.svg'); }
.icon-switcher-handle { background-image: url('../../images/items/diamond-switcher-handle.png'); }
.icon-switcher-way { background-image: url('../../images/items/diamond-switcher-way.png'); }
.icon-telegram { background-image: url('../../images/items/diamond-telegram.png'); }
.icon-top-arrow { background-image: url('../../images/items/diamond-top-arrow.png'); }
.icon-units { background-image: url('../../images/items/diamond-units.png'); }
.icon-vk { background-image: url('../../images/items/diamond-vk.png'); }
.icon-youtube { background-image: url('../../images/items/diamond-youtube.png'); }
