:root {
    --primary-bg-color: #005565;
    --primary-text-color: #eaeaea;
    --secondary-bg-color: #eaeaea;
    --secondary-text-color: #005565;
    --hover-text-color: #00ffff;
    --surface-border: #eaeaea;
    --primary-color: #5aedda;
    --border-color: #dadada;
    --autofill-color: rgba(0, 125, 125, .5);
    --global-scrollbar-width: 12px;
    --bar-scrollbar-width: 8px;
}
* { text-shadow: 1px 1px rgba(0, 0, 0, .5); }
body,
header,
.auth-modal-window .forms,
.header-blur aside,
.header-dropdown-content,
.profile-dropdown-content,
.search-form-background form,
footer {
    background-image: url('../../images/elements/base-background.png');
    background-color: var(--primary-bg-color);
}
.surface-ground {
    background-image: url('../../images/elements/base-background.png');
    background-color: var(--secondary-bg-color);
}
.header-blur-on { background-color: rgba(0, 0, 0, .5); }
.header-blur-off { pointer-events: none; }
.left-header-sidebar .closing-header-sidebar-button.closing-button { animation: rotate-left-360-animation .5s ease }
.left-header-sidebar .closing-header-sidebar-button.opening-button { animation: rotate-right-360-animation .5s ease }
.header-dropdown-content a:hover,
.left-header-sidebar a:hover,
.left-header-sidebar .sign-in-button:hover,
.right-header-sidebar a:hover,
.right-header-sidebar .sign-in-button:hover,
.profile-dropdown-content a:hover,
.profile-dropdown-content .button-link:hover { background-color: rgba(0, 255, 255, .1) }
.left-header-sidebar .profile-link,
.right-header-sidebar .profile-link,
.profile-dropdown-content .profile-link {
    background: linear-gradient(90deg, rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1));
    animation: transfusion-animation 10s linear infinite;
    border: 2px solid rgba(0, 255, 255, .3);
}
.left-header-sidebar .unit-title,
.right-header-sidebar .unit-title {
    background: linear-gradient(90deg, rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1), rgba(0, 255, 255, .3), rgba(0, 255, 255, .1));
    animation: transfusion-animation 10s linear infinite;
    font-family: "Minecraft Ten", sans-serif;
}
.profile-dropdown-content .ld-pay-link {
    background: linear-gradient(90deg, rgba(0, 200, 0, .1), rgba(0, 200, 0, .3), rgba(0, 200, 0, .1), rgba(0, 200, 0, .3), rgba(0, 200, 0, .1));
    animation: transfusion-animation 10s linear infinite;
    border: 2px solid rgba(0, 200, 0, .3);
}
.left-header-sidebar .logo-wrap:hover,
.right-header-sidebar .logo-wrap:hover { background-color: rgba(0, 255, 255, 0); }
.left-header-sidebar .profile-link:focus-visible,
.right-header-sidebar .profile-link:focus-visible,
.profile-dropdown-content .profile-link:focus-visible,
.profile-dropdown-content .ld-pay-link:focus-visible {
    border: 2px solid #00ffff;
}
.profile-dropdown-content .line { background-color: #ffffff; }
a:focus-visible, button:focus-visible {
    background-color: rgba(0, 255, 255, .1);
    border: 2px solid #00ffff;
    color: #00ffff;
}
::selection { background-color: rgba(0, 255, 255, .3); }
::-moz-selection { background-color: rgba(0, 255, 255, .3); }
input::placeholder {
    color: var(--primary-text-color);
    opacity: .7;
}
input::-ms-reveal { filter: invert(100%); }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: inset 0 0 20px 20px var(--autofill-color);
    -webkit-text-fill-color: var(--primary-text-color);
    transition: background-color 5000s ease-in-out 0s;
    font-family: "Monocraft", sans-serif;
    -webkit-background-clip: text;
}
.left-header-sidebar::-webkit-scrollbar,
.right-header-sidebar::-webkit-scrollbar { width: var(--bar-scrollbar-width); }
::-webkit-scrollbar { width: var(--global-scrollbar-width); }
.left-header-sidebar::-webkit-scrollbar-thumb,
.right-header-sidebar::-webkit-scrollbar-thumb { background: rgba(0, 255, 255, .2); }
.left-header-sidebar::-webkit-scrollbar-track,
.right-header-sidebar::-webkit-scrollbar-track { background: rgba(0, 0, 0, .3); }
::-webkit-scrollbar-thumb { background: rgba(0, 85, 100, 1); }
::-webkit-scrollbar-track { background: rgba(0, 55, 70, 1); }

.action-button {
    background-color: var(--primary-bg-color);
    transition: .05s;
    height: 100%;
    width: 100%;
}
.action-button .base {
    border-bottom: 3px solid rgba(235, 235, 235, .2);
    border-right: 3px solid rgba(235, 235, 235, .2);
    border-left: 3px solid rgba(235, 235, 235, .2);
    background-color: rgba(0, 0, 0, .2);
    transition: .05s;
    height: 20%;
    width: 100%;
}
.action-button .press {
    border: 3px solid rgba(255, 255, 255, .3);
    transition: .05s;
    height: 80%;
    width: 100%;
}
.action-button .text {
    font-family: "Minecraft Ten", sans-serif;
    color: var(--primary-text-color);
}
.button-container, .button-container:focus-visible {
    background: none;
    border: none;
}
.button-container:focus-visible .action-button, .button-container:hover .action-button {
    background-color: var(--primary-bg-color);
    justify-content: flex-end;
    margin-top: 5%;
    height: 80%;
}
.button-container:focus-visible .action-button .base, .button-container:hover .action-button .base { height: 0; }
.button-container:focus-visible .action-button .press, .button-container:hover .action-button .press { height: 100%; }
.button-container:focus-visible .action-button .press .text, .button-container:hover .action-button .press .text {
    color: var(--hover-text-color);
}
.auth-modal-window form fieldset label { border: 2px solid var(--border-color); }
.auth-modal-window form { border: 2px solid rgba(255, 255, 255, .5); }
.auth-modal-window .illustration {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    border-left: 2px solid rgba(255, 255, 255, .7);
    border-top: 2px solid rgba(255, 255, 255, .7);
}
.search-form-background form {
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .5);
    border-left: 2px solid rgba(255, 255, 255, .5);
}
.search-form-background form label {
    border: 2px solid var(--border-color);
    opacity: .8;
}
.search-content-form label input:focus-visible {
    background-color: rgba(0, 255, 255, .1);
    border: 2px solid #00ffff;
}
.auth-modal-window form h1,
.auth-modal-window form fieldset .subtitle,
.auth-modal-window form .help-button span,
.auth-remember-line .auth-remember-me,
header .list-label-text,
.header-dropdown-content .list-label-text,
footer nav a span { font-family: "Minecraft Ten", sans-serif; }
footer .tinted-gradient { background: linear-gradient(rgba(0, 15, 15, .8), transparent); }
.auth-modal-window form fieldset label input,
.search-form-background form fieldset { background: linear-gradient(rgba(0, 15, 15, .5), transparent); }
.icon { background-repeat: no-repeat; }
.auth-modal-window form fieldset .status,
.auth-modal-window form fieldset .task,
.background-auth .logo .splash,
.header-blur .sign-in-button .list-label-text,
.left-header-sidebar .naked-link .list-label-text,
.left-header-sidebar .profile-link .title,
.left-header-sidebar .profile-link .subtitle,
.right-header-sidebar .naked-link .list-label-text,
.right-header-sidebar .profile-link .title,
.right-header-sidebar .profile-link .subtitle,
.profile-dropdown-content .profile-link .title,
.profile-dropdown-content .profile-link .subtitle,
.profile-dropdown-content .ld-pay-link .title,
.profile-dropdown-content .ld-pay-link .subtitle,
footer .row { font-family: "Monocraft", sans-serif; }

.animation-agree-creeper { background-image: url('../../images/mobs/agree-creeper-animation.gif'); }
.animation-angry-warden { background-image: url('../../images/mobs/angry-warden-animation.gif'); }
.animation-dancing-blue-parrot { background-image: url('../../images/mobs/dancing-blue-parrot-animation.gif'); }
.animation-dancing-lime-parrot { background-image: url('../../images/mobs/dancing-lime-parrot-animation.gif'); }
.animation-dancing-piglin { background-image: url('../../images/mobs/dancing-piglin-animation.gif'); }
.animation-dancing-red-parrot { background-image: url('../../images/mobs/dancing-red-parrot-animation.gif'); }
.animation-dancing-multicoloured-parrot { background-image: url('../../images/mobs/dancing-multicoloured-parrot-animation.gif'); }
.animation-elder-guardian { background-image: url('../../images/mobs/elder-guardian-animation.gif'); }
.animation-walking-iron-golem { background-image: url('../../images/mobs/walking-iron-golem-animation.gif'); }

.background-auth { background-image: url('../../images/elements/auth-background.png'); }
.background-cherry-blossom-grove { background-image: url('../../images/elements/cherry-blossom-grove-background.png'); }

.icon-apple { background-image: url('../../images/items/diamond-apple.png'); }
.icon-axolotl-bucket { background-image: url('../../images/items/diamond-axolotl-bucket.png'); }
.icon-bedrock-dev-small { background-image: url('../../images/items/bedrock-dev-small.png'); }
.icon-bedrock-wiki { background-image: url('../../images/items/bedrock-wiki.png'); }
.icon-bestiary { background-image: url('../../images/items/bestiary.png'); }
.icon-book { background-image: url('../../images/items/diamond-book.png'); }
.icon-border-profile { background-image: url('../../images/items/diamond-border-profile.png'); }
.icon-border { background-image: url('../../images/items/diamond-border.png'); }
.icon-bottle { background-image: url('../../images/items/diamond-bottle.png'); }
.icon-cross { background-image: url('../../images/items/diamond-cross.png'); }
.icon-diamond-pickaxe { background-image: url('../../images/items/diamond-pickaxe-icon.png'); }
.icon-diamond-sword { background-image: url('../../images/items/diamond-sword-icon.png'); }
.icon-diamond { background-image: url('../../images/items/diamond.png'); }
.icon-documentary { background-image: url('../../images/items/documentary.png'); }
.icon-down-arrow { background-image: url('../../images/items/diamond-down-arrow.png'); }
.icon-download { background-image: url('../../images/items/diamond-download.png'); }
.icon-eye { background-image: url('../../images/items/diamond-eye.png'); }
.icon-faq { background-image: url('../../images/items/diamond-faq.png'); }
.icon-fixed-header { background-image: url('../../images/items/diamond-fixed-header.png'); }
.icon-free-header { background-image: url('../../images/items/diamond-free-header.png'); }
.icon-gear { background-image: url('../../images/items/diamond-gear.png'); }
.icon-hand { background-image: url('../../images/items/diamond-hand.png'); }
.icon-left-arrow { background-image: url('../../images/items/diamond-left-arrow.png'); }
.icon-logo { background-image: url('../../images/elements/light-diamond-logo.png'); }
.icon-long-left-arrow { background-image: url('../../images/items/diamond-long-left-arrow.png'); }
.icon-long-right-arrow { background-image: url('../../images/items/diamond-long-right-arrow.png'); }
.icon-magnifier { background-image: url('../../images/items/diamond-magnifier.png'); }
.icon-map { background-image: url('../../images/items/diamond-map.png'); }
.icon-moon { background-image: url('../../images/items/diamond-moon.png'); }
.icon-microsoft-small { background-image: url('../../images/items/microsoft-small.png'); }
.icon-minecraft-materials { background-image: url('../../images/items/minecraft-materials.png'); }
.icon-right-arrow { background-image: url('../../images/items/diamond-right-arrow.png'); }
.icon-script { background-image: url('../../images/items/diamond-script.png'); }
.icon-skin { background-image: url('../../images/items/diamond-skin.png'); }
.icon-spawn-egg { background-image: url('../../images/items/diamond-spawn-egg.png'); }
.icon-sun { background-image: url('../../images/items/diamond-sun.svg'); }
.icon-switcher-handle { background-image: url('../../images/items/diamond-switcher-handle.png'); }
.icon-switcher-way { background-image: url('../../images/items/diamond-switcher-way.png'); }
.icon-telegram { background-image: url('../../images/items/diamond-telegram.png'); }
.icon-tick { background-image: url('../../images/items/diamond-tick.png'); }
.icon-top-arrow { background-image: url('../../images/items/diamond-top-arrow.png'); }
.icon-units { background-image: url('../../images/items/diamond-units.png'); }
.icon-vk { background-image: url('../../images/items/diamond-vk.png'); }
.icon-youtube { background-image: url('../../images/items/diamond-youtube.png'); }
